@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
 --primary-color:#010101;
 --secondary-color:#98e209;
 --white:#fff;
 --para-color:#919191;
 --header-color:#141414;
 --gray-color:#9f9f9f;
 --font-family: "Inter", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{
    background-color: var(--primary-color) !important;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
ul{
    padding-left: 0 !important;
}
li{
    list-style: none;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top:20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-90{
    padding-top: 90px;
}
.pt-100{
    padding-top: 100px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-100{
    padding-bottom: 100px;
}
/* header section start */
.navbar{
    background: var(--header-color);
}
.navbar .navbar-brand{
    color: var(--white) !important;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}
.navbar .navbar-brand span{
    color: var(--secondary-color) !important;
    
}
.navbar-nav .nav-item .nav-link{
    color: var(--white) !important;
    font-weight: 600;
}
.header-btn button{
    padding: 10px 40px;
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--primary-color);
    border: none;
    font-weight: 600;
}
/* banner section start */
.banner-main-text{
    position: relative;
    z-index: 23;
}
.banner-main-text span{
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}
.banner-main{
    position: relative;
}
.banner-main-text h1{
    font-size: 80px;
    color:var(--white);
    font-weight: 700;
    padding-top: 20px;
}
.secondary{
    font-size: 80px !important;
    color: var(--secondary-color) !important;
}
.banner-main-text button{
    padding: 10px 40px;
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--primary-color);
    border: none;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
}
.banner-img img{
    width: 100%;
    position: relative;
}
.banner-img::before{
    content: " ";
    position: absolute;
    left: -100px;
    bottom: -50px;
    width: 939px;
    height: 800px;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0) 13.58%, #080808 92.06%);
    filter: blur(50px);
    z-index: 1;
}
.text-one{
    position: absolute;
    bottom: 5%;
    left: 10%;
    -webkit-text-stroke: 1.25px var(--gray-color);
    color: transparent;
    font-size: 200px;
    font-weight: 700;
    line-height: 115%;
    z-index: -1;
    text-transform:  uppercase !important;
}
.up-down{
    animation: up-down 0.9s infinite alternate;
}
@keyframes up-down {
    0% {
        transform: translateY(-10px);
    }
    
    100% {
        transform: translateY(0);
    }
}
.text-two{
    position: absolute;
    bottom: 0;
    left: 20%;
    -webkit-text-stroke: 1.25px var(--secondary-color);
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    color: transparent;
    text-transform: uppercase !important;
    z-index:25;
}
.up-down-two{
    animation: up-down-two 1s infinite alternate;
}
@keyframes up-down-two {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-10px);
    }
}
.banner-para-text h6{
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 25px;
    padding-bottom: 20px;
}
.banner-para-text p {
    color: var(--para-color);
}
.h5{
    color: var(--white);
    text-transform: capitalize;
}
.social-media{
    display: flex;
    align-items: center;
    gap: 20px;
}
.social-media li a i{
    background: var(--header-color);
    padding: 10px;
    color: var(--white);
    border-radius: 50%;
    margin-top: 20px;
    transition: all 0.4s ease;
}
.social-media li a i:hover{
    background: var(--secondary-color);
    
}
/* experience section start */
.exp-bg-main{
    position: relative;
    background: var(--header-color);
    padding: 100px 40px;
    border-radius: 10px;
}
.exp-hed{
    text-align: center;
    padding-bottom: 30px;
}
.exp-hed span{
    color: var(--secondary-color);
    font-weight: 700;
}
.exp-hed h2{
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.exp-main{
    position: relative;
    background: #212121;
    overflow: hidden;
    padding: 40px 50px;
    z-index: 23;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exp-main h4{
    font-size: 80px;
    color: var(--white);
    font-weight: 700;
}
.exp-main h4 span{
    font-size: 80px;
    color: var(--white);
    font-weight: 700;
}
.exp-main span{
    color: var(--para-color);
    font-weight: 700;
}
/* .exp-main-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .exp-main::after{
    content: " ";
    position: absolute;
    right: -250px;
    bottom: -367px;
    min-width: 474px;
    min-height: 474px;
    border-radius: 100px;
    filter: blur(227px);
    z-index: -1;
    background: var(--secondary-color);
} */
/* .exp-year h4{
    font-size: 80px;
    color: var(--secondary-color);
}
.exp-year-text h4{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}
.exp-year-para p{
    color: var(--white);
    padding-top: 30px;
}
.exp-btn button{
    padding: 10px 40px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
}
.exp-project{
    background: var(--header-color);
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    height: calc(100% - 20px);
}
.exp-project h3{
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
}
.exp-project p{
    color: var(--para-color);
    padding-top: 10px;
} */
/*  */
.marque-wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
.marquee-inner{
    display: flex;
    will-change: transform;
    transform: translateX(0);
    animation: marquee 70s linear infinite;
}
@keyframes marquee {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

.marquee-text{
    position: relative;
    white-space: nowrap;
}
.marquee-text span{
    font-size: 76px;
    line-height: 86px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    vertical-align: middle;
}
.marquee-text:nth-child(2n+2) span {
    color: var(--primary-color);
    text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white), 1px 1px 0 var(--white);
}
.marquee-text i {
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin: 0 30px;
    color: var(--secondary-color);
    vertical-align: middle;
}
.marque-wrap.style2 {
    background: var(--secondary-color);
}
.marque-wrap.style2 {
    padding: 10px 0;
    transform: scale(1.1) rotate(4deg);
}
.marque-wrap.style3 {
    padding: 10px 0;
}
.marque-wrap.style3 .marquee-inner{
    animation-direction: reverse;
}
.marque-wrap.style3 .marquee-text span {
    font-size: 30px;
    line-height: 40px;
    text-shadow: none;
    color: var(--primary-color);
}
.marquee-text img{
    margin: 10px;
}
.marque-wrap.style2 .marquee-inner{
    animation-direction: reverse;
}
.marque-wrap.style2 .marquee-text span {
    font-size: 30px;
    line-height: 40px;
    text-shadow: none;
    color: var(--primary-color);
}
.marque-wrap.style2 .marquee-text i {
    color: var(--primary-color);
}
/* feature section start */
.feature-main-hed h3{
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.feature-sub-title{
    color: var(--secondary-color);
    font-weight: 600;
}
.feature-showcase-sec{
    position: relative;
    background: var(--header-color);
    padding: 30px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}
.feature-showcase-sec h6{
    color: var(--white);
    padding-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


/* Footer section start */
.footer-main-text h2{
    font-size: 60px;
    color: var(--white);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 4px;
    padding-bottom: 20px;
}
.footer-main-text button{
    padding: 10px 20px;
    background: var(--secondary-color);
    border: none;
    border-radius: 20px;
    color: var(--primary-color);
    font-weight: 600;
}
.foot-email{
    margin-bottom: 30px;
}
.foot-email p{
    color: var(--para-color);
    font-weight: 600;
}
.foot-email h6{
    font-size: 30px;
    color: var(--white);
    font-weight: 600;
}
.foot-social-icon ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot-social-icon ul li a{
  color: var(--gray-color);
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}
.foot-social-icon ul li a i{
    font-size: 0;
    line-height: 1;
    margin-right: 15px;
    transition: all 0.5s ease-in-out 0s;
}
.foot-social-icon ul li a:hover{
  color: var(--secondary-color);
}
.foot-social-icon ul li a:hover i{
  font-size: 30px;
  color: var(--secondary-color);
}
.footer-area{
    border-bottom: 1px solid #141414;
}
.copy-right-text p{
    color: var(--para-color);
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-family);
}

/*  */
.about-bg-main{
    position: relative;
    background: var(--header-color);
    padding: 100px 80px;
    border-radius: 5px;
}
.about-content span{
    color: var(--secondary-color);
    font-weight: 600;
}
.about-content h2{
    font-size: 40px;
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}
.about-content p{
    color: var(--para-color);
    padding-bottom: 20px;
}
.about-list h6{
    color: var(--white);
    padding-top: 20px;
    font-weight: 700;
    display: flex;
    font-size: 15px;
}
.about-list{
    padding-bottom: 20px;
}
.about-list h6 i{
    color: var(--secondary-color);
    padding-right: 10px;
}
.about-contact-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 30px;
}
.email-sec-main{
    display: flex;
    align-items: center;
    gap: 20px;
}
.email-text h5{
    padding-top: 10px;
    color: var(--white);
}
.email-text span{
    font-size: 13px;
    color: var(--secondary-color) !important;
}
.emai-icon i{
    color: var(--white);
}
.about-img img{
    width: 100%;
    border-radius: 5px;
}
